
\.gradle/

\.vscode/

Library/

Logs/

obj/

Packages/

ProjectSettings/

*.csproj

Tesi_Remote_Controller\.sln

Assets/Mirror/Examples/

Temp/
TempBuild/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
TempBuild/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
TempBuild/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
TempBuild/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
TempBuild/MonoBleedingEdge/etc/mono/2.0/machine.config
TempBuild/MonoBleedingEdge/etc/mono/2.0/settings.map
TempBuild/MonoBleedingEdge/etc/mono/2.0/web.config
TempBuild/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
TempBuild/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
TempBuild/MonoBleedingEdge/etc/mono/4.0/machine.config
TempBuild/MonoBleedingEdge/etc/mono/4.0/settings.map
TempBuild/MonoBleedingEdge/etc/mono/4.0/web.config
TempBuild/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
TempBuild/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
TempBuild/MonoBleedingEdge/etc/mono/4.5/machine.config
TempBuild/MonoBleedingEdge/etc/mono/4.5/settings.map
TempBuild/MonoBleedingEdge/etc/mono/4.5/web.config
TempBuild/MonoBleedingEdge/etc/mono/browscap.ini
TempBuild/MonoBleedingEdge/etc/mono/config
TempBuild/MonoBleedingEdge/etc/mono/mconfig/config.xml
TempBuild/RCMU.exe
TempBuild/RCMU_Data/app.info
TempBuild/RCMU_Data/boot.config
TempBuild/RCMU_Data/globalgamemanagers
TempBuild/RCMU_Data/globalgamemanagers.assets
TempBuild/RCMU_Data/level0
TempBuild/RCMU_Data/level0.resS
TempBuild/RCMU_Data/Managed/Assembly-CSharp.dll
TempBuild/RCMU_Data/Managed/Mirror.Authenticators.dll
TempBuild/RCMU_Data/Managed/Mirror.Cloud.dll
TempBuild/RCMU_Data/Managed/Mirror.Components.dll
TempBuild/RCMU_Data/Managed/Mirror.dll
TempBuild/RCMU_Data/Managed/Mono.Security.dll
TempBuild/RCMU_Data/Managed/mscorlib.dll
TempBuild/RCMU_Data/Managed/netstandard.dll
TempBuild/RCMU_Data/Managed/Ninja.WebSockets.dll
TempBuild/RCMU_Data/Managed/System.ComponentModel.Composition.dll
TempBuild/RCMU_Data/Managed/System.Configuration.dll
TempBuild/RCMU_Data/Managed/System.Core.dll
TempBuild/RCMU_Data/Managed/System.Data.dll
TempBuild/RCMU_Data/Managed/System.Diagnostics.StackTrace.dll
TempBuild/RCMU_Data/Managed/System.dll
TempBuild/RCMU_Data/Managed/System.Drawing.dll
TempBuild/RCMU_Data/Managed/System.EnterpriseServices.dll
TempBuild/RCMU_Data/Managed/System.Globalization.Extensions.dll
TempBuild/RCMU_Data/Managed/System.IO.Compression.dll
TempBuild/RCMU_Data/Managed/System.IO.Compression.FileSystem.dll
TempBuild/RCMU_Data/Managed/System.Net.Http.dll
TempBuild/RCMU_Data/Managed/System.Numerics.dll
TempBuild/RCMU_Data/Managed/System.Runtime.Serialization.dll
TempBuild/RCMU_Data/Managed/System.Runtime.Serialization.Xml.dll
TempBuild/RCMU_Data/Managed/System.ServiceModel.Internals.dll
TempBuild/RCMU_Data/Managed/System.Transactions.dll
TempBuild/RCMU_Data/Managed/System.Xml.dll
TempBuild/RCMU_Data/Managed/System.Xml.Linq.dll
TempBuild/RCMU_Data/Managed/System.Xml.XPath.XDocument.dll
TempBuild/RCMU_Data/Managed/Unity.TextMeshPro.dll
TempBuild/RCMU_Data/Managed/Unity.Timeline.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AccessibilityModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AIModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AndroidJNIModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AnimationModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ARModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AssetBundleModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.AudioModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ClothModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ClusterInputModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ClusterRendererModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.CoreModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.CrashReportingModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.DirectorModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.dll
TempBuild/RCMU_Data/Managed/UnityEngine.DSPGraphModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.GameCenterModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.GridModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.HotReloadModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ImageConversionModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.IMGUIModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.InputLegacyModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.InputModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.JSONSerializeModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.LocalizationModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ParticleSystemModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.PerformanceReportingModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.Physics2DModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.PhysicsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ProfilerModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.ScreenCaptureModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.SharedInternalsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.SpriteMaskModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.SpriteShapeModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.StreamingModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.SubstanceModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.SubsystemsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TerrainModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TextCoreModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TextRenderingModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TilemapModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.TLSModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UI.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UIElementsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UIModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UmbraModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UNETModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityConnectModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityWebRequestModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.VehiclesModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.VFXModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.VideoModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.VRModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.WindModule.dll
TempBuild/RCMU_Data/Managed/UnityEngine.XRModule.dll
TempBuild/RCMU_Data/resources.assets
TempBuild/RCMU_Data/resources.assets.resS
TempBuild/RCMU_Data/Resources/unity default resources
TempBuild/RCMU_Data/Resources/unity_builtin_extra
TempBuild/RCMU_Data/sharedassets0.assets
TempBuild/RCMU_Data/sharedassets0.assets.resS
TempBuild/UnityCrashHandler64.exe
TempBuild/UnityPlayer.dll
